{% extends 'members/base.html' %}
{% block content %}
{% load bootstrap %}
  <h1>Search Model</h1>

          <div class="container">


                 <div class="w-75 p-3">
                <form method="get"> {{clientfilter.form|bootstrap}}

            <button class="btn btn-outline-info" type="submit">Search</button></form>


                        </div>
          </div>





            <div class="containter">
            <table class="table table-striped">
             <thead>
<tr class="table-warning">
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Contact</th>
      <th scope="col">Gender</th>
      <th scope="col">Registered</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      {% for client in searchedclient %}
      <td>{{forloop.counter}}</td>
      <td><a href="{% url 'memberinfo' client.id %}">{{client.name}}</a></td>
      <td>{{client.age}}</td>
      <td>{{client.phone}}</td>
      <td>{% if client.female == True %}
      Female
        {% else %}
      Male
      {% endif %}</td>
      <td>{{client.registered}}</td>

    </tr>
      {% endfor %}
  </tbody>
</table>

</div>

  {% endblock %}


